.step-content {
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: row;
}

.step-center {
  width: calc(50% - 60px);
  margin: 30px 2px;
  padding: 10px 30px;
  border: 2px solid #3fcce2;
  border-radius: 10px;
}

.step-left, .step-right {
  width: 25%;
  text-align: center;
  margin: 30px 0;
  position: relative;
}

.step-content .nils-button.step-prev,
.step-content .nils-button.step-next {
  position: absolute;
  top: 300px;
  left: 20%;
  right: 20%;
  min-width: 60%;
  height: 4em;
  font-size: 15px;
  color: #3fcce2;
  font-weight: 500;
}
