<div class="side-nav-menu">
  <button matButton class="expand-button" (click)="tougleExpand()">
    <mat-icon class="button-img" svgIcon="expand_horizontal"></mat-icon>
  </button>
  <div class="title">
    <a routerLink="" class="home-link" title={{resources.home}}>
      <mat-icon class="app-logo-img" svgIcon="nils_logo"></mat-icon>
      <span class="app-title"><b>N</b>ucleix<b>I</b>ntigrated<b>L</b>ab<b>S</b>ystem</span>
    </a>
  </div>
  <div class="user">
    <a routerLink="user" class="home-link" title={{resources.userDetails}}>
      <mat-icon class="user-icon" svgIcon="user"></mat-icon>
      <div class="user-details">
        <span class="greeting">{{resources.hello}} {{userName}}</span><br />
        <span class="last-login">{{lastLogin | dateFormat}}</span>
      </div>
    </a>
  </div>
  <div class="navigation">
    <app-navigation-links [navLinks]="navLinks"></app-navigation-links>
  </div>
  <div class="company-logo">
    <mat-icon class="company-logo-img" svgIcon="nucleix_logo"></mat-icon>
    <span class="company-logo-text">{{resources.copyright}}</span>
  </div>
</div>
