.samples {
  height: 100%;
  width: 100%;
  padding-top: 80px;
}

.title {
  height: 80px;
}

.content {
  font-size: 16px;
  height: calc(100% - 190px);
  width: calc(100% - 50px);
  margin: 0 30px 30px 20px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
}

.field-set {
    width: 100%;
}

.field-set-caption {
  height: 40px;
  padding: 20px;
  font-size: 20px;
  color: #3fcce2;
  font-weight: 600;
}

.field {
  display: inline-block;
  padding: 10px 1.66%;
  width: 30%;
}

  .field.patientId ::ng-deep .mat-form-field-flex{
      height: 4em;
  }
