<div class="requisition-form content-container">
  <div class="header">{{header}}</div>
  <div class="tool-bar">
    <div class="title-area">
      <div class="title">{{title}}</div>
      <div class="sub-title" [innerHtml]="subTitle"></div>
    </div>
    <div class="tracker-container"></div>
    <button matButton class="cancel-button" (click)="onCloseClick()">
      <mat-icon class="button-img">close</mat-icon>
    </button>
  </div>
  <mat-horizontal-stepper *ngIf="requisitionForm" labelPosition="bottom" #stepper>
    <mat-step [stepControl]="patientInfoFormGroup">
      <ng-template matStepLabel>{{resources.stepNames.patientInformation}}</ng-template>
      <app-nx-step-content>
        <app-form-section main [stepNumber]="1" [title]="resources.titles.patientInformation">
          <app-patient-information [formGroup]="patientInfoFormGroup" [data]="requisitionForm.pInfo"></app-patient-information>
        </app-form-section>
        <ng-template right [ngTemplateOutlet]="rightButtons"></ng-template>
      </app-nx-step-content>
    </mat-step>
    <mat-step class="step" [stepControl]="healthcareProviderFormGroup">
      <ng-template matStepLabel>{{resources.stepNames.healthcareProviderInformation}}</ng-template>
      <app-nx-step-content>
        <app-form-section main [stepNumber]="2" [title]="resources.titles.healthcareProviderInformation">
          <app-healthcare-provider-information [formGroup]="healthcareProviderFormGroup" [data]="requisitionForm.hcpInfo"></app-healthcare-provider-information>
        </app-form-section>
        <ng-template right [ngTemplateOutlet]="rightButtons"></ng-template>
      </app-nx-step-content>
    </mat-step>
    <mat-step class="step" [stepControl]="specimenInfoFormGroup">
      <ng-template matStepLabel>{{resources.stepNames.specimenInformation}}</ng-template>
      <app-nx-step-content>
        <app-form-section main [stepNumber]="3" [title]="resources.titles.specimenInformation">
          <app-specimen-information [formGroup]="specimenInfoFormGroup" [data]="requisitionForm.specInfo"></app-specimen-information>
        </app-form-section>
        <ng-template right [ngTemplateOutlet]="rightButtons"></ng-template>
      </app-nx-step-content>
    </mat-step>
    <mat-step class="step" [stepControl]="billingInfoFormGroup">
      <ng-template matStepLabel>{{resources.stepNames.billingInformation}}</ng-template>
      <app-nx-step-content>
        <app-form-section main [stepNumber]="4" [title]="resources.titles.billingInformation">
          <app-billing-information [formGroup]="billingInfoFormGroup" [data]="requisitionForm.billInfo"></app-billing-information>
        </app-form-section>
        <ng-template right [ngTemplateOutlet]="rightButtons"></ng-template>
      </app-nx-step-content>
    </mat-step>
    <mat-step class="step">
      <ng-template matStepLabel>{{resources.stepNames.comments}}</ng-template>
      <app-nx-step-content>
        <app-form-section main [stepNumber]="5" [title]="resources.titles.comments">
          <textarea class="requisition-form-comments" rows="10" [(ngModel)]="comments"></textarea>
        </app-form-section>
        <ng-template right [ngTemplateOutlet]="rightButtons"></ng-template>
      </app-nx-step-content>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<ng-template #rightButtons>
  <div class="buttons">
    <button class="nils-button save" mat-button (click)="saveClick()">{{resources.save}}</button>
    <button class="nils-button problem-log" mat-button (click)="problemLogClick()">{{resources.problemLog}}</button>
    <button class="nils-button white req-form" mat-button (click)="reqFormClick()">
      {{resources.managerequisitionForms}}
      <mat-icon class="button-img" svgIcon="upload_file"></mat-icon>
    </button>
    <div class="bottom">
      <button class="nils-button compleate" mat-button (click)="compleateClick()">{{resources.completeReqForm}}</button>
    </div>
  </div>
</ng-template>
