<div class="requisition-form content-container">
  <div class="header">{{header}}</div>
  <div class="tool-bar">
    <div class="title-area">
      <div class="title">{{title}}</div>
      <div class="sub-title" [innerHtml]="subTitle"></div>
    </div>
    <div class="tracker-container"></div>
    <button matButton class="cancel-button" (click)="onCloseClick()">
      <mat-icon class="button-img">close</mat-icon>
    </button>
  </div>
  <mat-horizontal-stepper *ngIf="requisitionForm" labelPosition="bottom" #stepper>
    <mat-step [stepControl]="patientInfoFormGroup">
      <app-nx-step-content>
        <app-patient-information main [formGroup]="patientInfoFormGroup" [data]="requisitionForm.pInfo" [stepNumber]="1"></app-patient-information>
        <ng-template right [ngTemplateOutlet]="rightButtons"></ng-template>
      </app-nx-step-content>
    </mat-step>
    <mat-step class="step" [stepControl]="healthcareProviderFormGroup">
      <app-nx-step-content>
        <app-healthcare-provider-information main [formGroup]="healthcareProviderFormGroup" [data]="requisitionForm.hcpInfo" [stepNumber]="2"></app-healthcare-provider-information>
        <ng-template right [ngTemplateOutlet]="rightButtons"></ng-template>
      </app-nx-step-content>
    </mat-step>
    <mat-step class="step" [stepControl]="specimenInfoFormGroup">
      <app-nx-step-content>
        <app-specimen-information main [formGroup]="specimenInfoFormGroup" [data]="requisitionForm.specInfo" [stepNumber]="3"></app-specimen-information>
        <ng-template right [ngTemplateOutlet]="rightButtons"></ng-template>
      </app-nx-step-content>
    </mat-step>
    <mat-step class="step" [stepControl]="billingInfoFormGroup">
      <app-nx-step-content>
        <app-billing-information main [formGroup]="billingInfoFormGroup" [data]="requisitionForm.billInfo" [stepNumber]="4"></app-billing-information>
        <ng-template right [ngTemplateOutlet]="rightButtons"></ng-template>
      </app-nx-step-content>
    </mat-step>
    <mat-step class="step">
      <app-nx-step-content>
        <ng-template right [ngTemplateOutlet]="rightButtons"></ng-template>
      </app-nx-step-content>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<ng-template #rightButtons>
  <div class="buttons">
    <button class="nils-button save" mat-button (click)="saveClick()">{{resources.save}}</button>
    <button class="nils-button problem-log" mat-button (click)="problemLogClick()">{{resources.problemLog}}</button>
    <button class="nils-button white req-form" mat-button (click)="reqFormClick()">
      {{resources.managerequisitionForms}}
      <mat-icon class="button-img" svgIcon="upload_file"></mat-icon>
    </button>
    <div class="bottom">
      <button class="nils-button compleate" mat-button (click)="compleateClick()">{{resources.completeReqForm}}</button>
    </div>
  </div>
</ng-template>
