.requisition-form.content-container .title {
  font-size: 18px;
  font-weight: 500;
  color: #3fcce2;
}

.requisition-form .cancel-button {
  position: absolute;
  top: 100px;
  right: 20px;
  height: 40px;
  width: 40px;
  background: #08CFA7;
  border: none;
  border-radius: 50%;
  color: #fff;
}

.requisition-form .mat-stepper-horizontal {
  min-height: calc(100% - 120px);
}

.requisition-form ::ng-deep .mat-horizontal-content-container {
  height: calc(100% - 24px);
}

.requisition-form-comments {
  width: 100%;
  margin: 2em 0;
  line-height: 2em;
}

.buttons .nils-button {
  margin: 1em 0;
}

.buttons .bottom {
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
}
