.form {
  width: 100%;
  height: 100%;
  overflow: auto;
}

  .form .form-title {
    color: white;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    background-color: #929292;
  }

.mat-form-field-wrapper {
  width: 20em !important;
}

::ng-deep .form-title .white-icon .a {
  fill: white;
}
