.field-set,
.field-set .field {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
}

  .field-set .label {
    color: #000;
    font-weight: 500;
    margin-right: 10px;
    line-height: 50px;
    min-width: max-content;
  }

  .field-set .mat-form-field {
    width: -webkit-fill-available;
  }
