<div class="new-accession content-container">
  <div class="header">{{header}}</div>
  <div class="title">{{title}}</div>
  <div class="sub-title">{{subTitle}}</div>
  <app-pending-accessions-list></app-pending-accessions-list>
  <button *ngIf="stage === 0" mat-button type="button" button mat-raised-button class="nils-button create-new-accession-button" (click)="createNewAccesionClick()">
    <span class="button-text">{{resources.createNewAccessionButtonText}}</span>
  </button>
  <div *ngIf="stage === 2" class="content">
  </div>
  <ng-container *ngIf="accessionId">
    <app-footer-alert [level]="'ok'" [message]="alert"></app-footer-alert>
  </ng-container>
</div>
