<div class="nx-dynamic-form-container">
  <form class="dynamic-form" [formGroup]="formGroup" (submit)="onSubmit($event)">
    <ng-container *ngFor="let field of fields;" dynamicField [field]="field" [group]="formGroup">
    </ng-container>
    <ng-content></ng-content>
    <div class="buttons-group">
      <button type="submit" mat-raised-button class="nils-button">
        <mat-icon class="button-img" svgIcon="save"></mat-icon>
        {{resources.save}}
      </button>
      <button type="button" button mat-raised-button class="nils-button" (click)="onCancelClick()">
        <mat-icon class="button-img" svgIcon="cancel"></mat-icon>
        {{resources.cancel}}
      </button>
    </div>
  </form>
</div>
