/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body, app-root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f6f7f8;
}

button:focus {
  outline: 0;
}

.nils-button,
.mat-button-base.nils-button {
  font-size: inherit;
  height: 3em;
  min-width: 15em;
  border-radius: 1.5em;
  font-weight: 300;
  border: none;
  background: inherit;
  color: inherit;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
}

  .nils-button.disabled {
    opacity: 0.5;
  }

  .nils-button .button-text {
    line-height: 3em;
  }

  .nils-button:not(.disabled):hover .button-text {
    font-weight: 400;
  }

  .nils-button:not(.disabled):active .button-text {
    font-weight: 100;
  }

  .nils-button .button-img {
    height: 1.2em;
    margin: 0 0.1em;
    line-height: initial;
  }

/*TO DO: move to nx-dynamic-form module*/
.mat-form-field .nils-button,
.mat-form-field .mat-button-base.nils-button {
  width: 100%;
}

.field-container {
  display: inline-block;
  padding: 10px 30px;
  min-width: 17em;
}

  .field-container .mat-form-field {
    width: 100%;
  }

  .field-container .mat-form-field-suffix .mat-icon {
    font-size: inherit;
    vertical-align: middle;
  }

  .field-container.nx-input,
  .field-container.nx-autocomplete {
    min-height: 55px;
  }

.nx-file-upload .nils-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.nx-file-upload .mat-form-field-underline {
  display: none;
}

.dynamic-form .field-set:first-child .field-set-caption {
  padding-top: 0;
}

