/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body, app-root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f6f7f8;
}

button:focus {
  outline: 0;
}

.nils-button,
.mat-button-base.nils-button {
  font-size: inherit;
  height: 3em;
  min-width: 15em;
  border-radius: 1.5em;
  font-weight: 400;
  border: none;
  background: #3fcce2;
  color: #fff;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
}

  .nils-button.disabled {
    opacity: 0.5;
  }

  .nils-button .button-text {
    line-height: 3em;
  }

  .nils-button:not(.disabled):hover .button-text {
    font-weight: 500;
  }

  .nils-button:not(.disabled):active .button-text {
    font-weight: 100;
  }

  .nils-button .button-img {
    height: 1.2em;
    margin: 0 0.1em;
    line-height: initial;
  }

.main-content .content-container {
  height: calc(100% - 80px);
  width: 100%;
  padding-top: 80px;
  color: #929292;
  position: relative;
}

  .main-content .content-container .header {
    position: absolute;
    top: 0;
    color: #fff;
  }

  .main-content .content-container .header,
  .main-content .content-container .title,
  .main-content .content-container .sub-title {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main-content .content-container .header,
  .main-content .content-container .title {
    height: 80px;
    font-size: 24px;
    font-weight: 700;
    line-height: 80px;
  }

  .main-content .content-container .sub-title {
    height: 40px;
    font-size: 12px;
    font-weight: 500;
  }

  .main-content .content-container .content {
    font-size: 14px;
    height: calc(100% - 190px);
    width: calc(100% - 50px);
    margin: 0 30px 30px 20px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
  }

.option {
  display: flex;
  flex-direction: row;
}

.emphesize {
  height: 1.2em;
  width: 1.2em;
  border-radius: 0.6em;
  background: #3fcce2;
  display: block;
  align-self: center;
  line-height: 1.2em;
  text-align: center;
  color: #fff;
}

.normal {
  display: block;
}

/*TO DO: move to nx-dynamic-form module*/
.mat-form-field .nils-button,
.mat-form-field .mat-button-base.nils-button {
  width: 100%;
}

.field-container {
  display: inline-block;
  padding: 10px 30px;
  min-width: 17em;
}

  .field-container .mat-form-field {
    width: 100%;
  }

  .field-container .mat-form-field-suffix .mat-icon {
    font-size: inherit;
    vertical-align: middle;
  }

  .field-container.nx-input,
  .field-container.nx-autocomplete {
    min-height: 55px;
  }

.nx-file-upload .nils-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  color: inherit;
}

.nx-file-upload .mat-form-field-underline {
  display: none;
}

.dynamic-form .field-set:first-child .field-set-caption {
  padding-top: 0;
}
