/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body, app-root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f6f7f8;
}

button {
  color: inherit;
}

  button:focus {
    outline: 0;
  }

.nils-button,
.mat-button-base.nils-button {
  font-size: inherit;
  height: 3em;
  min-width: 15em;
  border-radius: 1.5em;
  font-weight: 400;
  border: none;
  background: #3fcce2;
  color: #fff;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
}

  .nils-button.disabled {
    opacity: 0.5;
  }

  .nils-button .button-text {
    line-height: 3em;
  }

  .nils-button:not(.disabled):hover .button-text {
    font-weight: 500;
  }

  .nils-button:not(.disabled):active .button-text {
    font-weight: 100;
  }

  .nils-button .button-img {
    height: 1.2em;
    margin: 0 0.1em;
    line-height: initial;
  }

.mat-cell .nils-button {
  background: #fff;
  color: inherit;
  width: 10em;
  min-width: 10em;
  margin: 0 20px 0 40px;
}

.drop-down-button {
  display: inline-block;
  position: relative;
}

  .mat-select-panel .nils-button,
  .drop-down-button .nils-button.mat-button-base:not([disabled]) {
    background: inherit;
    color: inherit;
    width: 100%;
  }

  .drop-down-button .drop-down-options-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
  }

    .drop-down-button .drop-down-options-list.hidden {
      display: none;
    }

    .mat-select-panel .nils-button,
    .drop-down-button .drop-down-options-list .nils-button {
      border-radius: 0 0 1.5em 1.5em;
      -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.5);
      box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
      margin-bottom: 3px;
    }

.mat-select-panel-wrap .mat-select-panel {
  box-shadow: none;
  background: inherit;
}

.main-content .content-container {
  height: calc(100% - 80px);
  width: 100%;
  padding-top: 80px;
  color: #929292;
  position: relative;
  overflow: auto;
}

  .main-content .content-container .header {
    position: absolute;
    top: 0;
    color: #fff;
    background: #929292;
    width: -webkit-fill-available;
  }

  .main-content .content-container .header,
  .main-content .content-container .title,
  .main-content .content-container .sub-title {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main-content .content-container .header,
  .main-content .content-container .title {
    height: 80px;
    font-size: 24px;
    font-weight: 700;
    line-height: 80px;
  }

  .main-content .content-container .sub-title {
    height: 40px;
    font-size: 12px;
    font-weight: 500;
  }

  .main-content .content-container .content {
    font-size: 14px;
    height: calc(100% - 190px);
    width: calc(100% - 50px);
    margin: 0 30px 30px 20px;
  }

  .mat-tab-group .mat-tab-body-wrapper,
  .main-content .content-container .content {
    min-height: calc(100vh - 280px);
    background: #fff;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    margin-bottom: 30px;
  }

.option {
  display: flex;
  flex-direction: row;
}

.emphesize {
  height: 1.2em;
  width: 1.2em;
  border-radius: 0.6em;
  background: #3fcce2;
  display: block;
  align-self: center;
  line-height: 1.2em;
  text-align: center;
  color: #fff;
}

.normal {
  display: block;
}

.mat-header-row .mat-header-cell {
  color: #a4a4a4;
  font-style: italic;
}

.mat-row.even {
  background: #e4e4e4;
}

.requisition-form .mat-horizontal-stepper-header-container {
  position: absolute;
  top: 80px;
  left: 30%;
  right: 10%;
}

.requisition-form .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  padding: 0;
  height: initial;
  border-radius: 50% 50% 20% 20%;
}

  .requisition-form .mat-stepper-label-position-bottom .mat-stepper-horizontal-line,
  .requisition-form .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after,
  .requisition-form .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before {
    top: 48px;
  }

  .requisition-form .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-icon {
    margin: 24px;
    height: 40px;
    width: 40px;
    background: inherit;
    color: #a4a4a4;
    border: 3px solid #a4a4a4;
    font-size: 18px;
    font-weight: 500;
  }

.requisition-form .mat-horizontal-stepper-header .mat-step-icon.mat-step-icon-selected {
  background: inherit;
  color: #3fcce2;
  border-color: #3fcce2;
}

.requisition-form .mat-stepper-label-position-bottom .mat-step-label {
  position: absolute;
  top: 60px;
  color: #3fcce2;
}

.requisition-form .mat-horizontal-content-container {
  display: inline;
}

.requisition-form .mat-form-field-infix {
  width: unset;
}

.main-content .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.main-content .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: inherit;
}

.main-content .mat-checkbox-checkmark {
  fill: #000;
}

.mat-radio-button {
  margin-right: 10px;
}

.radio-field .mat-radio-outer-circle {
  border-radius: 0;
}

.radio-field .mat-radio-label {
  color: #000;
}

.radio-field .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
.radio-field .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle {
  border-color: #000;
}

.radio-field .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle {
  background-color: inherit;
  position: relative;
  text-align: center;
  height: 12px;
  margin-top: 4px;
}

  .radio-field .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 70%;
    width: 50%;
    background-color: #000;
    transform: skew(0deg, 40deg);
  }

  .radio-field .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: #000;
    transform: skew(0deg, -60deg);
  }
  



.radio-field .mat-form-field .mat-form-field-underline {
  display: none;
}

/*TO DO: move to nx-dynamic-form module*/
.mat-form-field .nils-button,
.mat-form-field .mat-button-base.nils-button {
  width: 100%;
}

.field-container {
  display: inline-block;
  padding: 10px 30px;
  min-width: 17em;
}

  .field-container .mat-form-field {
    width: 100%;
  }

  .field-container .mat-form-field-suffix .mat-icon {
    font-size: inherit;
    vertical-align: middle;
  }

  .field-container.nx-input,
  .field-container.nx-autocomplete {
    min-height: 55px;
  }

.nx-file-upload .nils-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  color: inherit;
}

.nx-file-upload .mat-form-field-underline {
  display: none;
}

.dynamic-form .field-set:first-child .field-set-caption {
  padding-top: 0;
}
